

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.row {
    flex: 1;
}





@media (min-width: 769px) {
.main-header, .main-nav, .row, .col{
    display: flex;
}
.main-header {
    flex-direction: column;
    align-items: center;
}

.col{
    flex: 1;
    flex-direction: column;
     /* 50% */
}
/* .row {
    flex-wrap: wrap ;
}
.secondary {
    order: -1; */

}
.button{
    margin-top: auto;
    align-self: flex-start;
}

}
@media (min-width: 1025px) {

    .main-header{
        flex-direction: row;
        justify-content: space-between;
    }
    .col{
        flex-basis: 0;
        flex-direction: column;
    }
    .primary{
        flex-grow: 1.4;
    }
    }
}
